/* 收货地址 */


.box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.App {
	width: 100%;
	position: static;
	color: #3c3c3c;
	user-select: none;
	touch-action: manipulation;
}

.header-App {
	position: fixed;
	width: 100%;
	z-index: 5;
	background: white;
}

.headerse {
	width: 90%;
	height: 1.5rem;
	margin: auto;
}

.settle-center {
	position: relative;
	top: 1.5rem;
	max-width: 700px;
	margin: auto;
}

.cat {
	font-size: .4rem;
}

.top {
	height: 1.2rem;
	background: #fbf7e7;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	padding: 0 .3rem;
	transition: all .3s;
}

.total {
	position: relative;
	top: 1.5rem;
	max-width: 700px;
	margin: auto;
}

.site {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	padding: .3rem 0;
}

.site div {
	padding: .1rem;
	width: 100%;
}

.site span:nth-child(2) {
	padding-left: .1rem;
}

.site span {
	font-size: .4rem;
}

p[name="site"] {
	font-size: .35rem;
}

.dz {
	position: relative;
	color: rgba(0, 0, 0, .5);
}

.dz::after {
	content: "";
	position: absolute;
	right: .32rem;
	top: 50%;
	width: .2rem;
	height: .2rem;
	border-left: 1px solid currentColor;
	border-top: 1px solid currentColor;
	transform: translate3d(0, -50%, 0) rotate(135deg);
}

.btn-gradient {
	line-height: 1.1rem;
	background: -webkit-linear-gradient(44deg, #ff7d00, #ff5934);
	background: linear-gradient(46deg, #ff7d00, #ff5934);
	border-radius: .55rem;
	width: 90%;
	font-size: .37rem;
	font-weight: 700;
	color: #fff;
	margin: auto;
	text-align: center;
}

.bottom {
	position: fixed;
	bottom: .5rem;
	width: 100%;
}

.ul-item {
	position: relative;
	width: 100%;
}

.ul-item li span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ul-item li {
	height: 1rem;
	padding: .2rem .6rem;
	border-bottom: .02rem solid rgba(0, 0, 0, .1);
	display: flex;
	align-items: center;
}

.ul-item li input {
	width: 6rem;
	border: 0;
	padding: .2rem .5rem;
	height: .5rem;
	font-size: .4rem;
}

.ul-item:last-child li {
	display: flex;
	justify-content: space-between;
}

.ul-item li:last-child input {
	width: .35rem;

}



.agreement{
	width:100%;
	height:100%;
	z-index: 10;
	background-color: rgba(0, 0, 0, .3);
	position: fixed;
	top:0;
	transition-duration: .5s;
	z-index: 100;
	display: none;
}

.agreement-confirm{
	width: 90%;
	max-width: 650px;
	height:auto;
	background:white;
	border-radius: .2rem;
	margin: 0 auto;
	margin-top: calc(100vh * 0.5 - 100px);
}
.XXT{
	width:100%;
	height: auto;
	border-bottom: 1px solid rgba(0,0,0,10%);
	
}
.fz-xs{
	font-size: .5rem;
	display: flex;
	flex-wrap: wrap;
	padding: .6rem .3rem .5rem;
	align-items: center;
	justify-content: center;
}

.option{
	width:100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height:1.3rem;
}
.consent{
	height:auto;
	text-align: center;
	font-size: .5rem;
	color:red;
}
.ts-message{
	width:100%;
	text-align: center;
	font-size: .4rem;
	padding-top:.4rem;
}